@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Amil Gupta</h1>
    <p>Read the <a href="https://docs.microsoft.com/aspnet/core">ASP.NET core documentation</a>.</p>
</div>
