@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<ul>
    <li>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsum, veritatis.
    </li>
    <li>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis, laboriosam suscipit? Atque.
    </li>
</ul>
